html,
body {
  height: 100%;
}

body {
  color: $default;
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.875;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container.container--big {
  min-width: 1800px;
}

.subtitle {
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 1.2;
  color: $subtitle;
}

.filter__btn {
  padding: 2px;
  @extend %dmsans-700;
  font-size: 16px;
  line-height: 1.2;
  color: $filter-btn;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: $subtitle;
  }
}