$accent: lighten(#436372, 35%);
$menu: #436372;
$submenu: #7b7b7b;
$default: #243f4d;
$descr: #585858;
$filter-btn: #8b8b8b;
$filter-btn-active: #1a1a1a;
$subtitle: #191919;

$button: #a3bbc8;
$button-accent: #243f4d;
$border: #e8e4df;
$bg-orange: #fcd7b6;
$bg-peach: #fef7f0;
$bg-lightpeach: #feefe2;

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
@return m#{i}n(#{$numbers});
}