@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 42px 0 45px;
  @extend %rubik-500;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;

  &__title {
    padding-left: 12px;
    @extend %rubik-500;
    color: $menu;
    font-size: 36px;
    line-height: 1.61;
  }
}

.menu {
  margin-top: -4px;

  &__list {
    display: flex;
    font-size: 15px;
    padding-left: 149px;
  }

  &__item:not(:last-child) {
    padding-right: 34px;
  }

  &__link {
    color: $menu;
    transition: color 0.3s;

    &:hover {
      color: $accent;
    }
  }

  &__link--active {
    color: $accent;
  }
}

.user-nav {
  display: flex;
  margin-top: 6px;

  &__link {
    height: 50px;
    position: relative;

    &::before {
      content: '';
      background-repeat: no-repeat;
      position: absolute;
      height: 20px;
      width: 20px;
    }
  }

  &__link--search,
  &__link--more {
    width: 50px;
    border-radius: 50%;
  }

  &__link--heart,
  &__link--cart {
    width: 89px;
    background-color: $bg-orange;
  }

  &__link--search {
    margin-right: 20px;
    background-color: #edf1f4;
    border: 1px solid #edf1f4;

    &::before {
      background-image: url('../images/icons/search.svg');
      top: 16px;
      left: 16px;
    }
  }

  &__link--heart {
    border-radius: 25px 0 0 25px;

    &::before {
      background-image: url('../images/icons/heart.svg');
      top: 20px;
      left: 35px;
    }

    &::after {
      content: '';
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      position: absolute;
      top: 9px;
      right: 0;
    }
  }

  &__link--cart {
    border-radius: 0 25px 25px 0;

    &::before {
      background-image: url('../images/icons/cart.svg');
      top: 20px;
      left: 35px;
    }
  }

  &__link--more {
    @extend %btn;
    margin-left: 20px;
    background-color: $button;
    border: 1px solid $button;

    &::before {
      background-image: url('../images/icons/more.svg');
      top: 14px;
      left: 14px;
    }
  }

  &__count {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 13px;
    left: 47px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    color: $default;
    @extend %dmsans-400;
  }
}

.footer {
  color: $submenu;
  font-size: 14px;
  line-height: 1.714;
}

.footer-top {
  padding: 74px 0 62px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;

  &__unit {
    width: 270px;
  }

  &__unit:not(:last-child) {
    margin-right: 30px;
    padding-right: 70px;
  }

  &__adress {
    display: block;
    padding: 16px 0 12px;
  }

  &__tel {
    display: block;
    margin-bottom: 10px;
  }

  &__tel:hover {
    color: $accent;
  }

  &__email:hover {
    color: $accent;
  }

  &__title {
    padding: 26px 0 18px;
    text-transform: uppercase;
    color: #1f2044;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.31;
  }

  &__item {
    margin-bottom: 9px;
  }

  &__link:hover {
    color: $accent;
  }

  &__text {
    margin-bottom: 36px;
  }

  &__form {
    @extend %dmsans-400;
  }

  &__form-input {
    background-color: $bg-peach;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 7.5px;

    &::placeholder {
      font-size: 12px;
      color: #234969;
    }
  }

  &__form-btn {
    @extend %btn;
    padding: 7.5px 15px;
  }
}

.footer-bottom {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.21;

  &__list {
    display: flex;
  }

  &__item {
    padding: 0 17px;
  }

  &__item:last-child {
    padding-right: 0;
  }

  &__item:not(:last-child) {
    border-right: 1px solid #7b7b7b;
  }

  &__link:hover {
    color: $accent;
  }
}

.slider {
  &__item {
    background-color: $bg-orange;
  }

  &__container {
    min-height: 820px;
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: 550px;
    margin-top: -78px;
    position: relative;

    &::after {
      content: '';
      background: linear-gradient(-90deg, rgb(255, 255, 255) 0%, transparent 100%);
      position: absolute;
      width: 634px;
      height: 634px;
      top: -119px;
      right: -755px;
      z-index: 1;
      border-radius: 50%;
    }
  }

  &__title {
    margin-bottom: 27px;
    text-transform: uppercase;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 0.972;
  }

  &__text {
    padding-right: 170px;
    margin-bottom: 52px;
    font-size: 18px;
    line-height: 1.67;
    color: $menu;
  }

  &__link {
    @extend %btn;
    @extend %rubik-500;
    padding: 22px 100px 20px 28px;
    font-size: 15px;
    position: relative;

    &::after {
      content: '';
      background-image: url('../images/icons/arrow.svg');
      background-repeat: no-repeat;
      position: absolute;
      width: 22px;
      height: 9px;
      top: 43%;
      right: 10%;
    }
  }

  &__img {
    margin: 0 auto;
    z-index: 2;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -77px;
    padding-bottom: 46px;
    position: relative;
    z-index: 99;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      button {
        padding: 0;
        @extend %rubik-500;
        color: $default;
        font-size: 11px;
        line-height: 2.5;
        width: 29px;
        height: 29px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 0.4;
        cursor: pointer;
      }

      &.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
}

.advant {
  &__items {
    display: flex;
    background-color: $bg-peach;
  }

  &__item {
    min-height: 170px;
    width: 32.2%;
    padding-left: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &:not(:first-child) {
      width: 34%;
      padding-left: 240px;
    }

    &:not(:last-child) {
      border-right: 1px solid $border;
    }

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: $button;
      border-radius: 50%;
      opacity: 0.34;
      top: calc(50% + 5px);
      left: 32.5%;
    }
  }

  &__item--first::before,
  &__item--second::before,
  &__item--third::before {
    content: '';
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: 26%;
  }

  &__item--first::before {
    background-image: url('../images/icons/24h.png');
  }

  &__item--second::before {
    background-image: url('../images/icons/truck.png');
    background-position: center;
  }

  &__item--third::before {
    background-image: url('../images/icons/credit.png');
  }

  &__name {
    padding-right: 140px;
    @extend %dmsans-700;
    font-size: 18px;
  }

  &__descr {
    padding-right: 140px;
    @extend %dmsans-400;
    font-size: 16px;
    color: $descr;
  }
}

.week {
  text-align: center;

  &__title {
    padding-top: 66px;
    margin-bottom: 22px;
  }

  &__filter {
    display: flex;
    justify-content: center;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    padding-top: 73px;
  }

  &__item {
    position: relative;
    width: 270px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    @extend %dmsans-700;
    font-size: 16px;

    &:hover .item__ico {
      opacity: 1;
    }
  }
}

.item {
  &__ico {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border: 1.5px solid $button;
    border-radius: 50%;
    top: 182px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s, background-color 0.3s;

    &:hover {
      background-color: $button;
    }
  }

  &__ico--search {
    background-image: url('../images/week/search.svg');
    left: 50px;

    &:hover {
      background-image: url('../images/week/search-inverse.svg');
    }
  }

  &__ico--cart {
    background-image: url('../images/week/cart.svg');

    &:hover {
      background-image: url('../images/week/cart-inverse.svg');
    }
  }

  &__ico--heart {
    background-image: url('../images/week/heart.svg');
    right: 50px;

    &:hover {
      background-image: url('../images/week/heart-inverse.svg');
    }
  }

  &__img {
    margin: auto 0;
  }

  &__name {
    padding-top: 20px;
    color: $default;
  }

  &__price {
    padding-bottom: 29px;
    color: $button;
  }
}

.filter {
  &__item:not(:last-child) {
    padding-right: 24px;
  }
}

.mixitup-control-active {
  color: $subtitle;
}




@import 'media';