@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 44px 0;
  @extend %rubik-500;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
}

.menu {

  &__list {
    display: flex;
    font-size: 15px;
    margin-left: 149px;
  }

  &__item:not(:last-child) {
    margin-right: 34px;
  }

  &__link {
    color: $menu;
    transition: color 0.3s;

    &:hover,
    &--active {
      color: $accent;
    }
  }
}

.user-nav {
  display: flex;
  margin-top: 6px;

  &__link {
    height: 50px;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      background-repeat: no-repeat;
      position: absolute;
      height: 20px;
      width: 20px;
    }
  }

  &__link--search,
  &__link--more {
    width: 50px;
    border-radius: 50%;
  }

  &__link--heart,
  &__link--cart {
    width: 89px;
    background-color: $bg-orange;
    transition: background-color 0.3s;

    &:hover {
      background-color: #edf1f4;
    }
  }

  &__link--search {
    margin-right: 20px;
    background-color: #edf1f4;
    border: 1px solid #edf1f4;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button;
    }

    &::before {
      background-image: url('../images/icons/search.svg');
      top: 16px;
      left: 16px;
    }
  }

  &__link--heart {
    border-radius: 25px 0 0 25px;

    &::before {
      background-image: url('../images/icons/heart.svg');
      top: 20px;
      left: 33px;
    }

    &::after {
      content: '';
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      position: absolute;
      top: 9px;
      right: 0;
    }
  }

  &__link--cart {
    border-radius: 0 25px 25px 0;

    &::before {
      background-image: url('../images/icons/cart.svg');
      top: 20px;
      left: 35px;
    }
  }

  &__link--more {
    @include btn;
    margin-left: 20px;
    background-color: $button;
    border: 1px solid $button;

    &::before {
      background-image: url('../images/icons/more.svg');
      top: 14px;
      left: 14px;
    }
  }

  &__count {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 13px;
    left: 47px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    color: $default;
    @extend %dmsans-400;
  }
}

.footer {
  color: $submenu;
  font-size: 14px;
  line-height: 1.714;
}

.footer-top {
  padding: 74px 0 62px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;

  &__logo {
    margin-top: 8px;
  }

  &__unit {
    width: 270px;
  }

  &__unit:not(:last-child) {
    margin-right: 30px;
    padding-right: 70px;
  }

  &__adress {
    display: block;
    padding: 25px 0 12px;
  }

  &__tel {
    display: block;
    margin: 10px 0;
  }

  &__tel:hover {
    color: $accent;
  }

  &__email:hover {
    color: $accent;
  }

  &__title {
    padding: 26px 0 18px;
    text-transform: uppercase;
    color: #1f2044;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.31;
  }

  &__item {
    margin-bottom: 9px;
  }

  &__link:hover {
    color: $accent;
  }

  &__text {
    @include text-clamp(2);
    margin-bottom: 36px;
  }

  &__form {
    @extend %dmsans-400;
    display: flex;
  }

  &__input {
    background-color: $bg-peach;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 8px;

    &::placeholder {
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    @include btn;
    padding: 8px 15px;
  }
}

.footer-bottom {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.21;

  &__list {
    display: flex;
  }

  &__item {
    padding: 0 17px;
  }

  &__item:last-child {
    padding-right: 0;
  }

  &__item:not(:last-child) {
    border-right: 1px solid #7b7b7b;
  }

  &__link:hover {
    color: $accent;
  }
}

.product-slider {
  &__item {
    background-color: $bg-orange;
    padding: 10px 0;
  }

  &__container {
    height: 41.7vw;
    max-height: 800px;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      background-image: linear-gradient(-90deg, rgb(255, 255, 255) 0%, transparent 100%);
      border-radius: 50%;
      position: absolute;
      width: 33vw;
      height: 33vw;
      max-height: 634px;
      max-width: 634px;
      top: calc(50% - 317px);
      left: 56%;
      z-index: 1;
    }
  }

  &__content {
    margin: -78px 100px 0 0;
  }

  &__title {
    @include text-clamp (3);
    max-width: 420px;
    margin-bottom: 22px;
    text-transform: uppercase;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
  }

  &__text {
    @include text-clamp (5);
    max-width: 360px;
    margin-bottom: 52px;
    font-size: 18px;
    line-height: 1.67;
    color: $menu;
  }

  &__link {
    @include btn;
    @extend %rubik-500;
    padding: 22px 100px 20px 28px;
    font-size: 15px;
    position: relative;

    &::after {
      content: '';
      background-image: url('../images/icons/arrow.svg');
      background-repeat: no-repeat;
      position: absolute;
      width: 22px;
      height: 9px;
      top: 43%;
      right: 10%;
    }
  }

  &__img {
    margin: 0 auto;
    z-index: 2;
    max-width: 37.5vw;
    max-height: 100%;
    object-fit: contain;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -77px;
    padding-bottom: 46px;
    position: relative;
    z-index: 99;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      button {
        padding: 0;
        @extend %rubik-500;
        color: $default;
        font-size: 11px;
        line-height: 2.5;
        width: 29px;
        height: 29px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 0.4;
        cursor: pointer;
      }

      &.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
}

.advant {
  margin-bottom: 66px;

  &__items {
    display: flex;
    background-color: $bg-peach;
  }

  &__item {
    padding-top: 38px;
    width: 33.3%;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      background-repeat: no-repeat;
      background-position: top;
      position: absolute;
      width: 50px;
      height: 50px;
      top: calc(50% - 40px);
      left: 26%;
    }

    &:not(:last-child) {
      border-right: 1px solid $border;
    }

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: $button;
      border-radius: 50%;
      opacity: 0.34;
      top: calc(50% - 10px);
      left: 32%;
    }
  }

  &__text {
    max-width: 220px;
    margin-left: 15%;
  }

  &__item--first::before {
    background-image: url('../images/icons/24h.png');
  }

  &__item--second::before {
    background-image: url('../images/icons/truck.png');
    background-position: center;
  }

  &__item--third::before {
    background-image: url('../images/icons/credit.png');
  }

  &__name {
    @include text-clamp(1);
    @extend %dmsans-700;
    font-size: 18px;
  }

  &__descr {
    @include text-clamp(2);
    @extend %dmsans-400;
    font-size: 16px;
    color: $descr;
  }
}

.week {
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 186px;
  }
}

.mixitup-control-active {
  color: $subtitle;
}

.lamp {
  margin-bottom: 94px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding-bottom: 85px;
    display: flex;
    align-items: flex-end;
    width: 50%;
    background-color: $bg-lightpeach;

    &:first-child {
      margin-right: 30px;
    }
  }

  &__inner {
    margin: -100px auto 0;
    width: 50%;
    height: 405px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__text {
    text-align: left;
    width: 50%;
  }

  &__name {
    @include text-clamp(2);
    max-width: 70%;
    margin-bottom: 20px;
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 1.23;
  }

  &__descr {
    @include text-clamp(3);
    margin-bottom: 50px;
  }

  &__link {
    margin-bottom: 150px;
    padding: 20px 80px 20px 20px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: $menu;
    @extend %rubik-500;
    position: relative;
    transition: background-color 0.3s;

    &:hover {
      background-color: $bg-orange;
    }

    &::after {
      content: '';
      background-image: url('../images/icons/arrow-blue.svg');
      background-repeat: no-repeat;
      position: absolute;
      width: 22px;
      height: 9px;
      top: 43%;
      right: 10%;
    }
  }
}

.design {
  text-align: center;

  &__filter {
    margin-bottom: 70px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 34px;
  }

  &__card {
    max-width: 370px;
    height: 246px;
    background-color: #f8f8f8;
    line-height: normal;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: margin-top 0.4s, box-shadow 0.5s, border-radius 0.3s;

    &:hover {
      margin-top: -20px;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.5);
      border-radius: 10px;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-top: 0;
  }

  &__descr {
    text-align: left;
    position: absolute;
    top: 37px;
    left: 37px;
    max-width: 180px;
    @extend %dmsans-700;
  }

  &__name {
    @include text-clamp(2);
    margin-bottom: 8px;
    font-size: 20px;
    color: $filter-btn-active;
  }

  &__cat {
    @include text-clamp(1);
    color: $button;
  }
}

.video {
  margin: 120px 0 112px;
  max-width: 100vw;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;

  &:hover .video__link {
    transform: scale(1.3);
  }

  &__link {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
    display: block;
    width: 127px;
    height: 127px;
    background-image: url('../images/icons/video-play.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 1s;
  }
}

.news {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 168px;
    background-color: $bg-peach;
  }

  &__top {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    @include text-clamp(1);
    max-width: 50%;
    margin-bottom: 0;
  }

  &__more {
    @include text-clamp(1);
    color: #262626;
    padding-right: 23px;
    position: relative;

    &::after {
      content: '>';
      font-size: 24px;
      font-weight: normal;
      position: absolute;
      bottom: -3px;
      right: 0px;
    }

    &:hover {
      color: $button;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    background-color: #ffffff;
    border: 0px solid transparent;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.5);
    }
  }

  &__img-link {
    display: block;
    height: 250px;
    overflow: hidden;

    &:hover .news__img {
      transform: scale(1.2);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.8s;
  }

  &__box {
    position: relative;
    padding: 30px 30px 20px;
  }

  &__link {
    position: absolute;
    @include btn;
    @extend %poppins-700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 2px 31px;
    border-radius: 15px;
    top: -17px;
  }

  &__name {
    height: 81px;
    padding-bottom: 13px;
    @include text-clamp(3);
    @extend %dmsans-500;
    color: #262626;
    font-size: 18px;
    line-height: 1.25;
    border-bottom: 1px solid #e0e0e0;
    transition: color 0.3s;

    &:hover {
      color: $button;
    }
  }

  &__bottom {
    padding-top: 16px;
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    color: #222933;
  }

  // я хз как скопировать иконки календаря и человечка из фотошопа, это какой-то иконочный шрифт

  &__date,
  &__author {
    width: 50%;
    @include text-clamp(1);
    padding-left: 15px;
  }
}

.partners {
  background-color: $bg-peach;
  padding: 92px 0;

  &__slider {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__item {
    width: 20%;
    height: 75px;
  }

  &__img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 220px;
  }
}