<div class="advant">
  <div class="container container--big">
    <ul class="advant__items">
      <li class="advant__item advant__item--first">
        <div class="advant__text">
          <p class="advant__name">
            Support 24/7.
          </p>
          <p class="advant__descr">
            Contact us 24 hours a day, 7 days a week.
          </p>
        </div>
      </li>
      <li class="advant__item advant__item--second">
        <div class="advant__text">
          <p class="advant__name">
            Delivery.
          </p>
          <p class="advant__descr">
            Free shipping on all US order.
          </p>
        </div>
      </li>
      <li class="advant__item advant__item--third">
        <div class="advant__text">
          <p class="advant__name">
            100% Payment secure.
          </p>
          <p class="advant__descr">
            We ensure secure payment with PEV.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>