<section class="design">
  <div class="container">
    <h2 class="design__title subtitle">
      New Design
    </h2>
    <ul class="design__filter filter">
      <li class="filter__item">
        <button class="filter__btn filter2" data-filter="all">All</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn filter2" data-filter=".category-fur">Furnitures</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn filter2" data-filter=".category-cha">Chairs</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn filter2" data-filter=".category-lig">Lightning</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn filter2" data-filter=".category-dec">Decor</button>
      </li>
    </ul>
    <ul class="design__items">
      <li class="design__item mix category-lig">
        <article class="design__card" style="background-image: url('../../images/design/design1.jpg');">
          <a class="design__link" href="#">
            <span class="sr-only">link to product page</span>
          </a>
          <div class="design__descr">
            <h3 class="design__name">Beat Flat Pendant Black</h3>
            <p class="design__cat">Classic</p>
          </div>
        </article>
      </li>
      <li class="design__item mix category-cha">
        <article class="design__card" style="background-image: url('../../images/design/design2.jpg');">
          <a class="design__link" href="#">
            <span class="sr-only">link to product page</span>
          </a>
          <div class="design__descr">
            <h3 class="design__name">Lampe Sur Pieds Bamboo</h3>
            <p class="design__cat">Classic</p>
          </div>
        </article>
      </li>
      <li class="design__item mix category-cha">
        <article class="design__card" style="background-image: url('../../images/design/design3.jpg');">
          <a class="design__link" href="#">
            <span class="sr-only">link to product page</span>
          </a>
          <div class="design__descr">
            <h3 class="design__name">Rattan Rocking Chair</h3>
            <p class="design__cat">Classic</p>
          </div>
        </article>
      </li>
      <li class="design__item mix category-fur">
        <article class="design__card" style="background-image: url('../../images/design/design4.jpg');">
          <a class="design__link" href="#">
            <span class="sr-only">link to product page</span>
          </a>
          <div class="design__descr">
            <h3 class="design__name">Rattan Rocking Chair</h3>
            <p class="design__cat">Classic</p>
          </div>
        </article>
      </li>
      <li class="design__item mix category-lig">
        <article class="design__card" style="background-image: url('../../images/design/design5.jpg');">
          <a class="design__link" href="#">
            <span class="sr-only">link to product page</span>
          </a>
          <div class="design__descr">
            <h3 class="design__name">Rattan Rocking Chair</h3>
            <p class="design__cat">Classic</p>
          </div>
        </article>
      </li>
      <li class="design__item mix category-dec">
        <article class="design__card" style="background-image: url('../../images/design/design6.jpg');">
          <a class="design__link" href="#">
            <span class="sr-only">link to product page</span>
          </a>
          <div class="design__descr">
            <h3 class="design__name">Lampe Sur Pieds Bamboo</h3>
            <p class="design__cat">Classic</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>