<section class="news">
  <div class="container">
    <div class="news__top">
      <h2 class="news__title subtitle">Our Insights & Articles</h2>
      <a class="news__more filter__btn" href="#">View All</a>
    </div>
    <ul class="news__items">
      <li class="news__item">
        <a class="news__img-link" href="#">
          <img class="news__img" src="../../images/news/1.jpg" alt="news image">
        </a>
        <div class="news__box">
          <a class="news__link" href="#">news</a>
          <h4 class="news__name">
            <a class="news__name-link" href="#">
              Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </a>
          </h4>
          <div class="news__bottom">
            <div class="news__date">28 january, 2020</div>
            <author class="news__author">by admin</author>
          </div>
        </div>
      </li>
      <li class="news__item">
        <a class="news__img-link" href="#">
          <img class="news__img" src="../../images/news/2.jpg" alt="news image">
        </a>
        <div class="news__box">
          <a class="news__link" href="#">news</a>
          <h4 class="news__name">
            <a class="news__name-link" href="#">
              Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            </a>
          </h4>
          <div class="news__bottom">
            <div class="news__date">28 january, 2020</div>
            <author class="news__author">by admin</author>
          </div>
        </div>
      </li>
      <li class="news__item">
        <a class="news__img-link" href="#">
          <img class="news__img" src="../../images/news/3.jpg" alt="news image">
        </a>
        <div class="news__box">
          <a class="news__link" href="#">news</a>
          <h4 class="news__name">
            <a class="news__name-link" href="#">
              Rncididunt ut labore et dolore magna aliqua. Ut enim
            </a>
          </h4>
          <div class="news__bottom">
            <div class="news__date">28 january, 2020</div>
            <author class="news__author">by admin</author>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>