.product-slider {

  &__inner {

    @include r(1023) {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  
  &__item {
    background-color: $bg-orange;
    padding: 10px 0;
  }

  &__container {
    height: 41.7vw;
    max-height: 800px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 1;

    @include r(544) {
      height: auto;
    }

    &::after {
      content: '';
      background-image: linear-gradient(-90deg, rgb(255, 255, 255) 0%, transparent 100%);
      border-radius: 50%;
      position: absolute;
      width: 33vw;
      height: 33vw;
      max-height: 634px;
      max-width: 634px;
      top: 10%;
      left: 56%;
      z-index: 1;

      @include r(544) {
        top: auto;
        bottom: auto;
      }
    }
  }

  &__content {
    margin: -78px 100px 0 0;

    @include r(1200) {
      margin: 0 100px 0 0;
    }

    @include r(544) {
      margin: 0;
      width: 45%;
    }
  }

  &__title {
    @include text-clamp (3);
    max-width: 520px;
    margin-bottom: 22px;
    text-transform: uppercase;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;

    @include r(1200) {
      max-width: 25vw;
      font-size: 3.75vw;
    }

    @include r(544) {
      font-size: 18px;
      max-width: 90%;
      margin-bottom: 10px;
    }
  }

  &__text {
    @include text-clamp (5);
    max-width: 360px;
    margin-bottom: 52px;
    font-size: 18px;
    line-height: 1.67;
    color: $menu;

    @include r(1200) {
      max-width: 30vw;
      font-size: 14px;
    }

    @include r(767) {
      margin-bottom: 20px;
    }

    @include r(544) {
      max-width: 90%;
      margin-bottom: 10px;
    }
  } 

  &__link {
    @include btn;
    @extend %rubik-500;
    padding: 22px 100px 20px 28px;
    font-size: 15px;
    position: relative;

    @include r(767) {
      padding: 11px 50px 10px 14px;
    }

    @include r(544) {
      font-size: 14px;
      padding: 5px 40px 5px 7px;
    }

    &::after {
      content: '';
      background-image: url('../images/icons/arrow.svg');
      background-repeat: no-repeat;
      position: absolute;
      width: 22px;
      height: 9px;
      top: 43%;
      right: 10%;

      @include r(544) {
        top: 35%;
      }
    }
  }

  &__img {
    margin: 0 auto;
    z-index: 2;
    max-width: 37.5vw;
    max-height: 100%;
    object-fit: contain;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -77px;
    padding-bottom: 46px;
    position: relative;
    z-index: 97;

    @include r(1023) {
      margin-top: -45px;
    }

    @include r(544) {
      margin-top: -37px;
      justify-content: flex-end;
      padding-right: 15px;
    }

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      button {
        padding: 0;
        @extend %rubik-500;
        color: $default;
        font-size: 11px;
        line-height: 2.5;
        width: 29px;
        height: 29px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 0.4;
        cursor: pointer;

        @include r(767) {
          width: 20px;
          height: 20px;
          line-height: 1.8;
        }
      }

      &.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
}